<div class="w-full bg-[#e6e6e6] px-4 py-2">
    <div class="row">
        <div class="col-md-6">
            <p class="heading-md !mb-4 md:!mb-0 text-center md:text-left md:flex md:h-full md:items-center">JK Text</p>
        </div>
        <div class="col-md-6">
            <div class="w-full flex gap-2 md:justify-end">
                <button class="button button-primary w-full md:w-auto" (click)="togglecounter($event)">
                    Count
                </button>
                <button class="button button-primary w-full md:w-auto" (click)="logoutter($event)">
                    Log out
                </button>
            </div>
        </div>
    </div>
</div>