<div class="md:flex items-center justify-between mt-6">
    @if(totalItems){
    <div class="flex items-center justify-center md:justify-start gap-4">
        <label for="" class="text-14 text-[#1F2937]">View</label>
        <div class="form-group type-select !mb-0 focused !max-w-[130px]">
            <input type="text" class="form-control !pt-0 !text-[#121212] !text-14 !font-gilmer-regular" id="Selectbox"
                (click)="handler__selectInput($event)" readonly autocomplete="off" [value]="getItemPerPageMessage()">
            <div class="select-box" (click)="handler__selectBox($event)">
                <ng-scrollbar thumbClass="custom-scrollbars">
                    <ul>
                        <li (click)="setItemPerPage(5); handler__selectOption($event, 5)"
                            [class.selected]="itemsPerPage == 5">5 per page</li>
                        <li (click)="setItemPerPage(10); handler__selectOption($event, 10)"
                            [class.selected]="itemsPerPage == 10">10 per page</li>
                        <li (click)="setItemPerPage(15); handler__selectOption($event, 15)"
                            [class.selected]="itemsPerPage == 15">15 per page</li>
                        <li (click)="setItemPerPage(20); handler__selectOption($event, 20)"
                            [class.selected]="itemsPerPage == 20">20 per page</li>
                    </ul>
                </ng-scrollbar>
            </div>
        </div>
    </div>

    <ul class="pagination">
        <li class="pagination__prev" [class.disabled]="!hasPreviousPage" title="Previous" (click)="goPreviousPage()">
            Previous</li>
        @for(page of pages; track $index) {
        <li class="pagination__no" [class.current]="page == currentPage" (click)="getPage(page)">{{ page }}</li>
        }
        <li class="pagination__next" [class.disabled]="!hasNextPage" title="Next" (click)="goNextPage()">Next</li>
    </ul>

    <ul class="pagination pagination--typeTwo">
        <li class="pagination__prev" [class.disabled]="!hasPreviousPage" title="Previous" (click)="goPreviousPage()">
            Previous</li>
        @for(page of pages; track $index) {
        <li class="pagination__no" [class.current]="page == currentPage" (click)="getPage(page)">{{ page }}</li>
        }
        <li class="pagination__next" [class.disabled]="!hasNextPage" title="Next" (click)="goNextPage()">Next</li>
    </ul>
    }

</div>