@import "./../../../../public/assets/scss/variables/variables";
@tailwind components;

@layer components {
    .pagination {
        @apply hidden md:flex py-2 gap-2;
        &__prev { 
            @apply text-14 text-[#2F7EF4] flex items-center md:gap-2 font-gilmer-medium cursor-pointer;
            &::before {
                content: "";
                @apply w-6 h-6;
                background-image: url("/assets/images/icons/pagination-arrow.svg");
                transform: rotate(180deg);
            }
    
            &.disabled {
                @apply text-[#AAAAAA];
                &::before {
                    background-image: url("/assets/images/icons/pagination-disabled-arrow.svg");
                    transform: rotate(0deg);
                }
            }
        }
        &__next {
            @apply text-14 text-[#2F7EF4] flex items-center md:gap-2 font-gilmer-medium cursor-pointer;
            &::after {
                content: "";
                @apply w-6 h-6;
                background-image: url("/assets/images/icons/pagination-arrow.svg");
            }
    
            &.disabled {
                @apply text-[#AAAAAA];
                &::after {
                    background-image: url("/assets/images/icons/pagination-disabled-arrow.svg");
                    transform: rotate(180deg);
                }
            }
        }
        &__no {
            @apply py-[6px] px-3 cursor-pointer;

            &.current {
                @apply border border-[#E6E6E6] rounded-[6px];
            }
        }

        &--typeTwo {
            @apply flex md:hidden items-center justify-center py-2 gap-4 mt-4;
        }

        &__count {
            @apply text-14 text-black font-gilmer-medium;   
            &--activeCount{
                @apply border-solid border-[#E6E6E6] border-[1px] py-[6px] px-4 rounded-lg mr-2;
            }
        }
    }
}